@media (min-width: 768px) and (max-width: 1200px) {
.login-content .heading h2 {
	font-size:16px;
	}
}
@media (max-width: 1200px) {
.table th, .table td {
	padding:8px;
	}
}
@media (min-width: 1200px) {
.container {
	width:1200px;
	}

#menu {padding-right:270px;}
#search {
	position:absolute;
	margin:0;
	bottom:-65px;
	right:23px;
	z-index:13
	}
#page {overflow:hidden;}
.fluid_container img {}
#camera_wrap_0 {max-height:631px}
.fluid_container {
	position:relative;
	left:50%;
	margin-left:-974px;
	
	max-width:1948px
	}
}
@media (min-width: 768px) {
.banner>div:hover img {
	transform: scale(1.1,1.1); 
	-o-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	}
#content .box .box-content .box-product ul li.last_line {margin-bottom:42px; padding-bottom:49px;}
aside .box .box-content .box-product ul li.last_line {margin-bottom:0; border-bottom:0; padding-bottom:0;}
.box .box-content .box-product ul li a.button i {display:block;}
.box .box-content .box-product ul li a.button span{display:none;}
.box .box-content .box-product ul li .cart-button a.button {vertical-align:top;}
.box .box-content .box-product ul li .cart-button {
	position:relative;
	z-index:10;
	margin-top:-66px;
	vertical-align:top;
	margin-bottom:23px;
	}
.box .box-content .box-product ul li .description {
	margin-bottom:10px;
	}
.box .box-content .box-product ul li{
	border-bottom:1px solid #ebeced;
	margin-bottom:60px;
	padding-bottom:51px;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
.product-grid .cart, .box .box-product .cart {
	float:none;
	}
.preview .wishlist a,.preview .compare a {
	margin:0 0 0 10px
	}

.wishlist a, .compare a {
	margin:10px 10px 0 0
	}
.product-list .wishlist a, .product-list .compare a {
	margin:0px 0px 0 10px
	}
a.button span {white-space:normal}
.compare-info td img {max-width:100px}
.fluid_container .camera_caption {
	left:0;
	top:25px
	}
.fluid_container .camera_caption h1 {font-size:55px; line-height:55px;}
.fluid_container .camera_caption h2 {font-size:30px; line-height:35px; margin-bottom:10px;}
.fluid_container .camera_caption h3 {margin-bottom:10px;}
.fluid_container .camera_caption p {margin-bottom:10px;}
.banner .s-desc h2 {font-size:30px; margin-bottom:10px;}
.banner .s-desc h1 {font-size:60px; line-height:70px;}
aside .box .box-heading {padding:20px; font-size:17px;}
.product-info .review img {margin-bottom:8px;}
}
@media (min-width: 980px) and (max-width: 1199px) {
.product-info .cart-top-padd {margin-bottom:10px;}

}
/******************************************************/
@media (min-width: 768px) and (max-width: 991px) {
.checkout-content {padding:20px;}
.compare-info td img {max-width:90px}
.compare-info td a.button span {font-size:11px; padding:7px 6px}
.compare-info td:first-child {max-width:80px;  word-wrap: break-word;}
.compare-info .prod-stock {font-size:12px;}
.preview .cart {margin-right:0;}
.login-content .form-horizontal .control-label{
	max-width:100%;
	text-align:left;
	}
.login-content .form-horizontal .controls{
	margin-left:0px;
	}
.related {
		padding: 0 88px
	}
.product-filter .display {
	clear:both;
	float:none
	}
footer .fa.fa-phone {display:none;}
.login-content .heading h2 {
	font-size:13px;
	}
.login-content .heading i {
	font-size:20px;
	}
aside a.button span {
	font-size:10px;
	white-space:normal
	}
.compare-block .image {
	float:none;
	text-align:center;
	margin-bottom:8px;
	}
.phone {clear:right}
/********************************/
.fluid_container .camera_caption h2, .fluid_container .camera_caption p {display:none;}
.fluid_container .camera_caption {top:15px}
.banner .s-desc {padding:20px 0 0 20px}
.banner .s-desc h3 {font-size:20px; line-height:25px;}
.banner .s-desc h2 {font-size:25px; line-height:25px;}
.banner .s-desc h1 {margin:0; font-size:40px; line-height:40px;}
footer h3 {font-size:11px;}
aside .box .box-heading {font-size:12px;}
}
/******************************************************/
@media (max-width: 991px) {
#menu {display:none;}
#menu-gadget {display:block;}
.product-grid .cart, .box .box-product .cart {
	float:none;
	}
.preview .wishlist a,.preview .compare a {
	margin:0 0 0 10px
	}

.wishlist a, .compare a {
	margin:10px 10px 0 0
	}
.product-list .wishlist a, .product-list .compare a {
	margin:0px 0px 0 10px
	}
}
/**********************************************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
and (orientation:landscape) { 
#full_gallery {display:block;}
#default_gallery {display:none;}
.box .box-content .box-product ul li:hover .quick-view-button {display:none !important; visibility:hidden; }
}
/**********************************************/
@media (max-width: 767px) {
.fluid_container .camera_caption {top:15px; left:0}
.fluid_container .camera_caption h1 {font-size:55px; line-height:55px;}
.fluid_container .camera_caption h2 {display:none;}
.fluid_container .camera_caption h3 {margin-bottom:10px;}
.fluid_container .camera_caption p {display:none;}
/*****************************************/
.box .box-content .box-product ul li .cart-button {margin-bottom:5px;}
/*****************************************/
.phone {display:none;}
#cart .heading span.link_a i.fa.fa-shopping-cart{
	font-size:26px;
	line-height:50px;
	}
#cart .heading span.link_a {
	line-height:50px;
	border-radius:0;
	background-color:#ccc;
	}
header #cart.active .content {
	top:50px
	}
/**************/
.checkout-content {padding:20px;}
.about-page i {display:none;}
#cboxContent .about-page {padding:0}
/**************************/
#powered {
	text-align:center;
	}
.name a:hover {
	text-decoration:none;
	}
.name a {
	text-decoration:underline
	}
aside #compare {
	display:none !important;
	}
#full_gallery {
	display:block;
	}
#default_gallery {
	display:none;
	}
.tabs .tab-heading:hover {
	cursor:pointer;
	}
.tabs .tab-content {
	display:none;
	}
#content {
	margin-bottom:20px;
	}
.product-info .cart-top-padd {margin-bottom:10px;}
.box {margin-bottom:10px; padding-bottom:0;}
#column-right .box .box-heading, #column-left .box .box-heading {
	margin-bottom:10px;
	}
.product-grid .name {
	height:auto;
	}
.product-list .description {
	display:none;
	}
.product-info h1 {display:none;}
.product-info h1.view {display:block;}
.product-filter .display {display:none;}
#content .box {margin-bottom:5px;}
.box .box-heading {margin-bottom:15px;}
.box .box-content .box-product ul li:hover .quick-view-button {display:none !important; visibility:hidden; opacity:0}
#compare-total, .cart-button .compare  {
	display:none;
	}
#content .box-product li {
	border-bottom:1px dotted #D7D7D7;
	margin-bottom:15px !important;
	padding-bottom:15px;
	}
.cart-button > div.wishlist {display:none;} 
.box-product .name {
	margin:0
	}
footer > div.container {display:none;}
footer > div+div.container {display:block;}
footer {padding:0; margin-top:5px;}
#powered {margin-top:0; padding:15px 20px; border-top:1px solid #E6E6E6;}
header #logo {margin:78px 0 29px 10px}
.cart-position {
  position:fixed;
  top:0;
  right:0px;
  margin:0;
  z-index:100;
  }
/*********************** box product *************************/
#content .box-product  .image2{
	float:left;
	width:30%
	}
#content .box-product .inner {
	width:58%;
	float:left;
	margin-left:30px;
	}
#content .box-product li{
	margin-bottom:30px;
	}
/*********************** search *************************/
#search {
	position:fixed;
	top:50px;
	left:0px;
	z-index:101;
	display:none;
	width:100%;
	margin:0;
	z-index:10;
	}
#search .inner {
	padding:4px 5px;
	background-color:#4a4a4a;
	overflow:hidden;
	position:relative;
	}
#search input {
	width:100%;
	max-width:none;
	border-radius:4px;
	box-shadow:inset 0 0 11px rgba(0,0,0,0.22);
	height:44px;
	padding:10px 40px 10px 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
	}
#search .button-search {
	position:absolute;
	top:5px;
	right:10px;
	
	}

/******************* Cart *******************************/
.cart-position #cart .heading span.link_a b, .cart-position #cart .heading span.link_a #cart-total, .cart-position #cart .heading span.link_a i.fa.fa-caret-down {display:none;}
.cart-position{
	min-width:83px;
	}
.cart-position #cart .heading span.link_a #cart-total2 {
	background:url(../image/cart-total2.png) no-repeat left top;
	display:block;
	position:absolute;
	top:14px;
	left:47px;
	height:22px;
	line-height:22px;
	width:30px;
	text-align:center;
	overflow:hidden;
	
	}
header #cart.active .content {
	display: block;
	}
.toprow-1 .cart-position {display:block; margin:0;}
/*******************************************************/
.col-sm-3 .box-content {display:none;}
aside .box-heading:hover {
	cursor:pointer;
	}
.box-heading i {
	float:right;
	line-height:30px;
	color:#fff
  }
aside .box-product .name {height:auto !important; margin:5px 0}
/*************************swipe menu***************************/
.swipe-control i {font-size:26px; color:#7e7e7e; line-height:50px;}
.swipe-control:hover i {text-decoration:none;}
.swipe-control {
    display: block;
    height: 50px;
    width: 64px;
    z-index: 100;
    text-align:center;
    border-right:1px solid #000;
    float:left;
}
body #page {
	height:100%
	}

body.ind div.shadow{
	left:0;
	top:0;
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	background:url("../image/overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	z-index:99;
	opacity:0.7
	}
body.ind #page {
    margin-left: 237px;
	width:100%;
	position:fixed;
    left:0;
    top:0;
	z-index:2
	}
body #body .swipe .swipe-menu{
	background-color: #323232;
	height:100%;
	overflow:scroll;
	
	}
body #body .swipe {
	display:none;
	}
body.ind #body .swipe {
	display:block;
	background-color:#323232;
	position:fixed;
	color:#fff;
	width:237px;
	top:50px;
	left:0px;
	z-index:100;
	overflow:hidden;
	z-index:101;
	}
header .toprow {display:none;}
header .toprow-1 {display:block;}

/********************************************/
.banner>div {
	margin-bottom:10px;
	}
#livesearch_search_results {
	display:none !important; 
	}
/************************************ product list ****************************************************/
.product-list ul li .image {
	width:30%;
	float:left;
	}
.product-list ul li .left {
	width:65%;
	float:left;
	margin-left:5%;
	}
/********************************  product grid ***********************************************************/
.product-grid ul li {
	overflow:hidden;
	}
.product-grid ul li .image {
	width:30%;
	float:left;
	}
.product-grid ul li .left {
	width:65%;
	float:left;
	margin-left:5%;
	}

/************************************** box-category ********************/
.box-product.box-subcat li {
	height:auto !important;
	overflow:hidden;
	}
.box-product.box-subcat li .image {
	float:left;
	width:30%;
	max-width:170px;
	}
.box-product.box-subcat li .name {
	width:65%;
	float:left;
	margin-left:5%;
	}  

/********************************************************/
.order-list .order-info {
	text-align:left;
	}
.order-content{
	padding-top:0;
	}
.order-content>div>div {
	margin-top:20px;
	}
}
/******************************************************/
@media (max-width: 625px) {
	.fluid_container .camera_caption h1 {font-size:35px; line-height:35px;}
	.fluid_container .camera_caption h3 {margin-bottom:10px;}
	.fluid_container .camera_caption div>a  {
		height:45px;
		width:45px;
		line-height:45px;
		font-size:25px;
		}
	}
@media (max-width: 555px) {
/**************/
.about-page i {display:none;}
#cboxContent .about-page {padding:0}
.content-border h2{
	margin-bottom:20px;
	}
.content-border {
	border:0;
	padding:0px;
	margin-bottom:0px;
	}
.checkout .checkout-product .table td {
	font-size:12px !important;
	padding:4px 2px !important;
	}
.product-list .cart-button {
	position:static;
	float:none;
	margin:10px 0 0 0
	}
.shop-cart .table.table-bordered {
	border:0
	}
	
.shop-cart .table {display:block;width:100%}
.shop-cart .table thead {display:none;}
.shop-cart .table tbody {
	display:block;
	border:0;
	}
.shop-cart .table tbody tr {
	display:block;
	margin-bottom:30px; 
	border:1px solid #d7d7d7;
	border-bottom:0;
	}
.shop-cart .table tbody td {
	display:block;
	text-align:center;
	border:0;
	border-bottom:1px solid #d7d7d7;
	}
  }
/******************************************************/
@media (min-width: 1200px) {

}
/******************************************************/
@media (max-width: 515px) {
img#captcha {
	margin-left:0px;
	}
}
/******************************************************/
@media (max-width: 480px) {
	.fluid_container .camera_caption h1 {font-size:25px; line-height:25px;}
	.fluid_container .camera_caption h3 {display:none;}
	.fluid_container .camera_caption div>a  {
		height:45px;
		width:45px;
		line-height:45px;
		font-size:25px;
		}
	}
@media (max-width: 410px) {
.product-info .review img {
	margin-bottom:10px;
	float:none;
	}
.product-info .review .btn-rew {
	float:none;
	}
.product-filter .sort {
	float:none;
	}
.product-filter .limit {
	float:none;
	margin:10px 0 0 0;
	}
}
@media (max-width: 480px) {
.checkout .checkout-product .table td {
	font-size:10px !important;
	padding:4px 2px !important;
	}
  }
@media (max-width: 979px) {
.product-filter .product-compare {
	margin-top:2px;
	}
/************************* table wishlist ****************/
.wishlist-product .table.table-bordered {
	border:0;
	}
.wishlist-product .table thead{
	display:none;
	}
.wishlist-product .table tbody{
	display:block;
	border:0
	}
.wishlist-product .table tr {
	display:block;
	margin-bottom:30px;
	border:1px solid #d7d7d7;
	border-bottom:0;
	}
.wishlist-product .table td {
	display:block;
	border:0;
	border-bottom:1px solid #d7d7d7
	}
}
/******************************************************/
@media (max-width: 372px) {
a.button-prod {margin-left:0;}
.banner .s-desc h2 {font-size:30px; margin-bottom:10px;}
.banner .s-desc h1 {font-size:60px; line-height:70px;}
	}
@media (max-width: 440px) {
.login-content .heading i {
	font-size:30px;
	}
.about-page i {display:none;}
#cboxContent .about-page {padding:0}
.login-content .heading h2 {
	font-size:13px;
	}
.checkout-content {
	padding:10px;
	}
header #cart.active .content {
	height:250px;
	overflow:hidden;
	}
header #cart.active .content .content-scroll {
	height:100%;
	overflow:scroll;
	webkit-overflow-y:scroll
	}
.cart-bottom .buttons .center {text-align:right;}
.about-page i {display:none;}
#confirm .name a {font-size:11px; text-transform:none; font-weight:400;}
}